<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test_Suite">
  <test name="Cucumber_Test_AdminLogin">
    <classes>
       <class name="Testrunners.LoginTestwithvalidCredentials"></class>
    </classes>
  </test> 
  
   <test name="Cucumber_Test_errmsg">
    <classes>
       <class name="Testrunners.ErrmsgTest"></class>
    </classes>
  </test>
  
     <test name="Cucumber_Test_empreg">
    <classes>
       <class name="Testrunners.NewEmployeeRegistration"></class>
    </classes>
  </test>
</suite> 